<a href="https://colab.research.google.com/github/Devopriya-Tirtho/Covid_Data_Analysis/blob/main/CovidAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd

In [9]:
dataset=pd.read_csv('owid-covid-data.csv',error_bad_lines=False)

b'Skipping line 23898: expected 60 fields, saw 67\n'
b'Skipping line 35744: expected 60 fields, saw 68\nSkipping line 47364: expected 60 fields, saw 65\n'
b'Skipping line 51259: expected 60 fields, saw 82\nSkipping line 63118: expected 60 fields, saw 87\n'
b'Skipping line 67209: expected 60 fields, saw 71\nSkipping line 75550: expected 60 fields, saw 64\nSkipping line 79641: expected 60 fields, saw 94\n'
b'Skipping line 91261: expected 60 fields, saw 96\n'
b'Skipping line 99213: expected 60 fields, saw 79\nSkipping line 110808: expected 60 fields, saw 74\n'
b'Skipping line 118677: expected 60 fields, saw 92\nSkipping line 130965: expected 60 fields, saw 92\n'
b'Skipping line 138802: expected 60 fields, saw 89\n'
b'Skipping line 150213: expected 60 fields, saw 68\nSkipping line 154574: expected 60 fields, saw 82\nSkipping line 161612: expected 60 fields, saw 71\n'
b'Skipping line 165973: expected 60 fields, saw 79\nSkipping line 173682: expected 60 fields, saw 79\n'
b'Skipping line 185801: expected 60 fields, saw 91\n'
b'Skipping line 197306: expected 60 fields, saw 99\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7,10,14,15,25,26,27,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
dataset.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [11]:
pd.unique(dataset['location'])

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', '2.816', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', '18.0', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Macedonia', 'Northern Cyprus',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'World', 'Yemen', 'Zambia',
       'Zimbabwe', '3.4'], dtype=object)

In [14]:
np.count_nonzero(pd.unique(dataset['location']))

234

In [16]:
dataset.shape

(208329, 60)

In [17]:
dataset.head

<bound method NDFrame.head of        iso_code continent  ... human_development_index excess_mortality
0           AFG      Asia  ...                   0.511              NaN
1           AFG      Asia  ...                   0.511              NaN
2           AFG      Asia  ...                   0.511              NaN
3           AFG      Asia  ...                   0.511              NaN
4           AFG      Asia  ...                   0.511              NaN
...         ...       ...  ...                     ...              ...
208324      ZWE    Africa  ...                   0.571              NaN
208325      ZWE    Africa  ...                   0.571              NaN
208326      ZWE    Africa  ...                   0.571              NaN
208327      ZWE    Africa  ...                   0.571              NaN
208328      ZWE    Africa  ...                   0.571              NaN

[208329 rows x 60 columns]>

In [25]:
start_date = '2021-06-30'
end_date = '2021-07-30'

In [26]:
dataset.head()

  iso_code continent  ... human_development_index excess_mortality
0      AFG      Asia  ...                   0.511              NaN
1      AFG      Asia  ...                   0.511              NaN
2      AFG      Asia  ...                   0.511              NaN
3      AFG      Asia  ...                   0.511              NaN
4      AFG      Asia  ...                   0.511              NaN

[5 rows x 60 columns]

In [27]:
mask = (dataset['date'] > start_date) & (dataset['date'] <= end_date)

In [28]:
mask

0         False
1         False
2         False
3         False
4         False
          ...
208324     True
208325     True
208326     True
208327     True
208328    False
Name: date, Length: 208329, dtype: bool

In [30]:
df = dataset.loc[mask]
df

       iso_code continent  ... human_development_index excess_mortality
493         AFG      Asia  ...                   0.511              NaN
494         AFG      Asia  ...                   0.511              NaN
495         AFG      Asia  ...                   0.511              NaN
496         AFG      Asia  ...                   0.511              NaN
497         AFG      Asia  ...                   0.511              NaN
...         ...       ...  ...                     ...              ...
208323      ZWE    Africa  ...                   0.571              NaN
208324      ZWE    Africa  ...                   0.571              NaN
208325      ZWE    Africa  ...                   0.571              NaN
208326      ZWE    Africa  ...                   0.571              NaN
208327      ZWE    Africa  ...                   0.571              NaN

[13034 rows x 60 columns]

In [32]:
main_df=df[['location','date','new_cases','new_deaths','new_cases_per_million','new_deaths_per_million','people_fully_vaccinated_per_hundred']]

In [34]:
main_df.head()

        location  ... people_fully_vaccinated_per_hundred
493  Afghanistan  ...                                 NaN
494  Afghanistan  ...                                 NaN
495  Afghanistan  ...                                 NaN
496  Afghanistan  ...                                 NaN
497  Afghanistan  ...                                0.49

[5 rows x 7 columns]

In [35]:
main_df.dropna()

           location  ... people_fully_vaccinated_per_hundred
497     Afghanistan  ...                                0.49
499     Afghanistan  ...                                0.51
503     Afghanistan  ...                                0.56
1028         Africa  ...                                1.18
1029         Africa  ...                                1.18
...             ...  ...                                 ...
208321     Zimbabwe  ...                                4.56
208322     Zimbabwe  ...                                4.58
208323     Zimbabwe  ...                                4.62
208324     Zimbabwe  ...                                4.67
208325     Zimbabwe  ...                                4.80

[5998 rows x 7 columns]

In [36]:
main_df = main_df.set_index("location")
main_df.head()

                   date  ...  people_fully_vaccinated_per_hundred
location                 ...
Afghanistan  2021-07-01  ...                                  NaN
Afghanistan  2021-07-02  ...                                  NaN
Afghanistan  2021-07-03  ...                                  NaN
Afghanistan  2021-07-04  ...                                  NaN
Afghanistan  2021-07-05  ...                                 0.49

[5 rows x 6 columns]

In [37]:
main_df

                   date  ...  people_fully_vaccinated_per_hundred
location                 ...
Afghanistan  2021-07-01  ...                                  NaN
Afghanistan  2021-07-02  ...                                  NaN
Afghanistan  2021-07-03  ...                                  NaN
Afghanistan  2021-07-04  ...                                  NaN
Afghanistan  2021-07-05  ...                                 0.49
...                 ...  ...                                  ...
Zimbabwe     2021-07-26  ...                                 4.62
Zimbabwe     2021-07-27  ...                                 4.67
Zimbabwe     2021-07-28  ...                                 4.80
Zimbabwe     2021-07-29  ...                                  NaN
Zimbabwe     2021-07-30  ...                                  NaN

[13034 rows x 6 columns]

In [39]:
main_df = main_df.drop(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda'])

In [40]:
main_df

                 date  ...  people_fully_vaccinated_per_hundred
location               ...
Argentina  2021-07-01  ...                                 9.04
Argentina  2021-07-02  ...                                 9.30
Argentina  2021-07-03  ...                                 9.52
Argentina  2021-07-04  ...                                 9.70
Argentina  2021-07-05  ...                                 9.81
...               ...  ...                                  ...
Zimbabwe   2021-07-26  ...                                 4.62
Zimbabwe   2021-07-27  ...                                 4.67
Zimbabwe   2021-07-28  ...                                 4.80
Zimbabwe   2021-07-29  ...                                  NaN
Zimbabwe   2021-07-30  ...                                  NaN

[12801 rows x 6 columns]

In [50]:
main_df1=main_df.loc([['United States','India','Brazil','Russia','France','United Kingdom','Turkey','Argentina','Colombia','Spain','Italy','Iran','Germany','Mexico','Indonesia','Poland','Canada','Bangladesh'] , : ])

SyntaxError: ignored

In [58]:
main_df1 = main_df.loc[ ['India' , 'Brazil','Bangladesh','United States','Russia','France','United Kingdom','Turkey','Argentina','Colombia','Spain','Italy','Iran','Germany','Mexico','Indonesia','Poland','Canada'] , : ]

In [59]:
main_df1

                date  ...  people_fully_vaccinated_per_hundred
location              ...
India     2021-07-01  ...                                 4.28
India     2021-07-02  ...                                 4.30
India     2021-07-03  ...                                 4.50
India     2021-07-04  ...                                 4.56
India     2021-07-05  ...                                 4.67
...              ...  ...                                  ...
Canada    2021-07-26  ...                                56.10
Canada    2021-07-27  ...                                56.74
Canada    2021-07-28  ...                                57.37
Canada    2021-07-29  ...                                57.98
Canada    2021-07-30  ...                                58.56

[1061 rows x 6 columns]

In [60]:
import matplotlib.pyplot as plt

In [66]:
main_df1.to_csv('CovidMain.csv')

In [67]:

!cp CovidMain.csv "drive/My Drive/"